<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Tracker</title>
</head>
<body>
    <h1>Welcome to the Stock Tracker</h1>
    <button onclick="window.location.href='/api/get/'">GET</button>
    <button onclick="window.location.href='/api/post/'">POST</button>
    <button onclick="window.location.href='/api/put/'">PUT</button>
    <button onclick="window.location.href='/api/delete/'">DELETE</button>
</body>
</html>
